<h1>Point System</h1>
	<ul>
	    <li>Group Stage
	        <ul>
	            <li>1 Point - Guessing the result (win,loss,tie) of each game but not predicting the correct score.
		            <ul>
		            	<li>
		            		Example: You predict Spain wins 2-1 but they win 2-0.
		            	</li>
		            </ul>
	            </li>
	            <li>3 Points - Guessing the result and score of each game.
	            	<ul>
		            	<li>
		            		Example: You predict France wins 2-1 and they win 2-1.
		            	</li>
		            </ul>
	            </li>
	            <li>2 Points - Guessing the team passes but in the wrong position.
	            	<ul>
		            	<li>
		            		Example: You predict Portugal passes in first place but they actually pass in second place.
		            	</li>
		            </ul>
	            </li>
	            <li>3 Points - Guessing the team passes in the right position.
	            	<ul>
		            	<li>
		            		Example: Predicting correctly that Germany passes through as first place in their group.
		            	</li>
		            </ul>
	            </li>
	        </ul>
	    </li>
	    <li>Knockout Stage
	    	<ul>
	            <li>4 Points per team - For guessing which eight teams qualify to the quarterfinals
		            <ul>
		            	<li>
		            		Order does not matter for here or future predictions
		            	</li>
		            	<li>
		            		You can choose situations that would not be possible like two teams passing to quarterfinals even though you predicted them to play in round of 16.
		            	</li>
		            </ul>
	            </li>
	            <li>
	            	6 Points per team - For guessing which four teams qualify to the semifinals
	            </li>
	            <li>
	            	10 Points per team - For guessing which two teams qualify to the finals
	            </li>
	            <li>
	            	6 points - For guessing the third place winner
	            </li>
	            <li>
	            	25 points - For guessing the champion of Euro 2016
	            </li>
	            <li>
	            	10 points - For guessing the top goal scorer of the tournament
	            </li>
	        </ul>
	    </li>
	    <li>Tie Breakers
	    	<ol>
	    		<li>
	    			Whoever got the most correct scores in the group stage
	    		</li>
	    		<li>
	    			Whoever got the most points in the group stage
	    		</li>
	    		<li>
	    			Whoever predicted the most quarterfinalists correctly
	    		</li>
	    	</ol>
	    </li>
	</ul>