<h1>Rules</h1>
<ul class="list-group">    
    <li class="list-group-item"> 
        <i class="fa fa-usd" aria-hidden="true"></i>   
        Entry price is $20 per submission
    </li>
    <li class="list-group-item">
        <i class="fa fa-list-ol" aria-hidden="true"></i>
        You can submit at most 3 times
    </li>
    <li class="list-group-item">
        <i class="fa fa-calendar" aria-hidden="true"></i>  
        Last day to pay is June 9th
    </li>
    <li class="list-group-item">
        <i class="fa fa-ban" aria-hidden="true"></i>  
        If you cannot pay on time contact Ignacio or Jose or your bracket will be deleted
    </li>
    <li class="list-group-item">
        <i class="fa fa-trophy" aria-hidden="true"></i>  
        Payouts: 1st Place: 60%, 2nd Place: 25%, 3rd Place: 10%, Server and domain costs: 5%
    </li>
</ul>