<form class="form-horizontal" role="form">
  <div class="form-group">
	<label class="control-label col-sm-2" for="email">Email:</label>
	<div class="col-sm-6">
	  <input type="email" class="form-control" id="email" placeholder="Enter email">
	</div>
	<label class="control-label col-sm-2" for="submission_count">Submission #:</label>
	<div class="col-sm-2">
		<select class="form-control" type="number" id="submission_count">
			<option value="1">1st Submission</option><option value="2">2nd Submission</option><option value="3">3rd Submission</option>
		</select>
	</div>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2" for="first_name">First Name:</label>
  	<div class="col-sm-10">
  		<input type"text" class="form-control" id="first_name" placeholder="Enter Your First Name"></input>
  	</div>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2" for="last_name">Last Name:</label>
  	<div class="col-sm-10">
  		<input type"text" class="form-control" id="last_name" placeholder="Enter Your Last Name"></input>
  	</div>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2" for="a1">Game A1</label>
  	<label class="control-label col-sm-2" for="a1">France</label>
  	<div class="col-sm-1">
  		<input type"number" class="form-control" id="a1h"></input>
  	</div>
  	<div class="col-sm-1">
  		<input type"number" class="form-control" id="a1h"></input>
  	</div>
  	<label class="control-label col-sm-1" for="a1">Romania</label>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>