<div class="form-group">
  <label class="control-label col-sm-2">Group Standings</label>
  </div>

  <div class="form-group">
  	<label class="control-label col-sm-2">Group A</label>
  	<label class="control-label col-sm-2" for="a1">First Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="a1" name="a1" required>
			<option disabled selected value style="display: none"> </option><option value="Albania">Albania</option><option value="France">France</option><option value="Romania">Romania</option><option value="Switzerland">Switzerland</option>
		</select>
  	</div>
  	<label class="control-label col-sm-2" for="a2">Second Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="a2" name="a2" required>
			<option disabled selected value style="display: none"></option><option value="Albania">Albania</option><option value="France">France</option><option value="Romania">Romania</option><option value="Switzerland">Switzerland</option>
		</select>
  	</div>
  </div>

  <div class="form-group">
  	<label class="control-label col-sm-2">Group B</label>
  	<label class="control-label col-sm-2" for="b1">First Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="b1" name="b1" required>
			<option disabled selected value style="display: none"></option><option value="England">England</option><option value="Russia">Russia</option><option value="Slovakia">Slovakia</option><option value="Wales">Wales</option>
		</select>
  	</div>
  	<label class="control-label col-sm-2" for="b2">Second Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="b2" name="b2" required>
			<option disabled selected value style="display: none"></option><option value="England">England</option><option value="Russia">Russia</option><option value="Slovakia">Slovakia</option><option value="Wales">Wales</option>
		</select>
  	</div>
  </div>

  <div class="form-group">
  	<label class="control-label col-sm-2">Group C</label>
  	<label class="control-label col-sm-2" for="c1">First Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="c1" name="c1" required>
			<option disabled selected value style="display: none"></option><option value="Germany">Germany</option><option value="North Ireland">North Ireland</option><option value="Poland">Poland</option><option value="Ukraine">Ukraine</option>
		</select>
  	</div>
  	<label class="control-label col-sm-2" for="c2">Second Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="c2" name="c2" required>
			<option disabled selected value style="display: none"></option><option value="Germany">Germany</option><option value="North Ireland">North Ireland</option><option value="Poland">Poland</option><option value="Ukraine">Ukraine</option>
		</select>
  	</div>
  </div>

  <div class="form-group">
  	<label class="control-label col-sm-2">Group D</label>
  	<label class="control-label col-sm-2" for="d1">First Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="d1" name="d1" required>
			<option disabled selected value style="display: none"></option><option value="Croatia">Croatia</option><option value="Czech Republic">Czech Republic</option><option value="Spain">Spain</option><option value="Turkey">Turkey</option>
		</select>
  	</div>
  	<label class="control-label col-sm-2" for="d2">Second Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="d2" name="d2" required>
			<option disabled selected value style="display: none"></option><option value="Croatia">Croatia</option><option value="Czech Republic">Czech Republic</option><option value="Spain">Spain</option><option value="Turkey">Turkey</option>
		</select>
  	</div>
  </div>

  <div class="form-group">
  	<label class="control-label col-sm-2">Group E</label>
  	<label class="control-label col-sm-2" for="e1">First Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="e1" name="e1" required>
			<option disabled selected value style="display: none"></option><option value="Belgium">Belgium</option><option value="Italy">Italy</option><option value="Republic of Ireland">Republic of Ireland</option><option value="Sweden">Sweden</option>
		</select>
  	</div>
  	<label class="control-label col-sm-2" for="e2">Second Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="e2" name="e2" required>
			<option disabled selected value style="display: none"></option><option value="Belgium">Belgium</option><option value="Italy">Italy</option><option value="Republic of Ireland">Republic of Ireland</option><option value="Sweden">Sweden</option>
		</select>
  	</div>
  </div>

  <div class="form-group">
  	<label class="control-label col-sm-2">Group F</label>
  	<label class="control-label col-sm-2" for="f1">First Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="f1" name="f1" required>
			<option disabled selected value style="display: none"></option><option value="Austria">Austria</option><option value="Hungary">Hungary</option><option value="Iceland">Iceland</option><option value="Portugal">Portugal</option>
		</select>
  	</div>
  	<label class="control-label col-sm-2" for="f2">Second Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="f2" name="f2" required>
			<option disabled selected value style="display: none"></option><option value="Austria">Austria</option><option value="Hungary">Hungary</option><option value="Iceland">Iceland</option><option value="Portugal">Portugal</option>
		</select>
  	</div>
  </div>

  <div class="form-group">
  <label style="text-align:left;" class="control-label col-sm-8">The Four Top 3rd Place Teams (the teams you chose above will not show up here)</label>
  </div>

  <div class="form-group">
  <!-- Groups B/E/F -->
  <label class="control-label col-sm-1" for="third1">1st Team (B/E/F)</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="third1" name="third1" required>
			  <option disabled selected value style="display: none"></option>
        <option value="Austria">Austria</option>
        <option value="Belgium">Belgium</option>
        <option value="England">England</option>
        <option value="Hungary">Hungary</option>
        <option value="Iceland">Iceland</option>
        <option value="Italy">Italy</option>
        <option value="Portugal">Portugal</option>
        <option value="Republic of Ireland">Republic of Ireland</option>
        <option value="Russia">Russia</option>
        <option value="Slovakia">Slovakia</option>
        <option value="Sweden">Sweden</option>
        <option value="Wales">Wales</option>
		</select>
  	</div>
    <!-- Groups A/C/D -->
  <label class="control-label col-sm-1" for="third2">2nd Team (A/C/D)</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="third2"name="third2" required>
			<option disabled selected value style="display: none"></option>
      <option value="Albania">Albania</option>
      <option value="Croatia">Croatia</option>
      <option value="Czech Republic">Czech Republic</option>
      <option value="France">France</option>
      <option value="Germany">Germany</option>
      <option value="North Ireland">North Ireland</option>
      <option value="Poland">Poland</option>
      <option value="Romania">Romania</option>
      <option value="Spain">Spain</option>
      <option value="Switzerland">Switzerland</option>
      <option value="Turkey">Turkey</option>
      <option value="Ukraine">Ukraine</option>
		</select>
  	</div>
    <!-- Groups A/B/F -->
  <label class="control-label col-sm-1" for="third3">3rd Team (A/B/F)</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="third3" name="third3" required>
			<option disabled selected value style="display: none"></option>
      <option value="Albania">Albania</option>
      <option value="Austria">Austria</option>
      <option value="England">England</option>
      <option value="France">France</option>
      <option value="Hungary">Hungary</option>
      <option value="Iceland">Iceland</option>
      <option value="Portugal">Portugal</option>
      <option value="Romania">Romania</option>
      <option value="Russia">Russia</option>
      <option value="Slovakia">Slovakia</option>
      <option value="Switzerland">Switzerland</option>
      <option value="Wales">Wales</option>
		</select>
  	</div>
    <!-- Groups C/D/E -->
  <label class="control-label col-sm-1" for="third4">4th Team (C/D/E)</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="third4" name="third4" required>
			<option disabled selected value style="display: none"></option>
      <option value="Belgium">Belgium</option>
      <option value="Croatia">Croatia</option>
      <option value="Czech Republic">Czech Republic</option>
      <option value="Germany">Germany</option>
      <option value="Italy">Italy</option>
      <option value="North Ireland">North Ireland</option>
      <option value="Poland">Poland</option>
      <option value="Republic of Ireland">Republic of Ireland</option>
      <option value="Spain">Spain</option>
      <option value="Sweden">Sweden</option>
      <option value="Turkey">Turkey</option>
      <option value="Ukraine">Ukraine</option>
		</select>
  	</div>
  </div>