<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Euro 2016 Quiniela</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Home
                        <!-- <img id="icon" src="static/img/euro_icon.png"> -->
                    </a>
                </li>
                <li>
                    <a href="/#rules">Rules</a>
                </li>
                <li>
                    <a href="/#payment">How To Pay</a>
                </li>
                <li>
                    <a href="/">Submit Quiniela</a>
                </li>
                <li>
                    <a href="/#standings">Standings</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    <div class="col-lg-12">
                        <h1>Welcome To Euro 2016 Quiniela</h1>
                        <p>The quiniela was a great success for the 2014 World Cup so we decided to bring it back for the Euro Cup. Hope you all enjoy!</p>
                    </div>
                </div>
                <div class="row" id="rules">
                    <div class="col-lg-12">
                        <h1>Rules</h1>
                        <ol>
                            <li>Entry price is 20 dollars per submission</li>
                            <li>You can submit at most 3 times</li>
                            <li>Pay before the first game or your submission will be deleted</li>
                            <li>If you cannot pay in time contact Ignacio Jr or Jose Luis ASAP</li>
                        </ol>
                    </div>
                </div>
                <div class="row" id="payment">
                    <div class="col-lg-12">
                        <h1>How To Pay</h1>
                        <ol>
                            <li>Venmo Ignacio Jr or Jose Luis
                                <ul>
                                    <li>Ignacio Jr: @Ignacio-Torras</li>
                                    <li>Jose Luis: @Jose-Torras</li>
                                </ul>
                            </li>
                            <li>Pay Ignacio Jr through PayPal
                                <ul>
                                    <li><a href="https://www.paypal.me/ITorras" target="_blank">Paypal Link</a></li>
                                </ul>
                            </li>
                            <li>Pay anyone in the Torras family in cash</li>
                        </ol>
                    </div>
                </div>
                <div class="row" id="standings">
                    <div class="col-lg-12">
                        <h1>Standings</h1>
                        Standings will be shown once all submissions are made
                        <img class="img-responsive" src="static/img/funny_pic.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
